body {
	padding: 0px;
	margin:0px;
}


.header {
	width: 1280px;
	font-family:Myriad Pro;
	margin-left: auto;
	margin-right: auto;
}

.header-menu {
	background-color: #35444f;
	padding-left: 0;
}

.header-menu li {
	list-style: none;
	display: inline-block;
	padding: 15px 20px;
	border-right: 1px solid #35444f;
	border-left: 1px solid #35444f;
}

.header-menu li a {
	color: white;
}

a {
	text-decoration: none;
	color: black;	
}
.header-menu li:hover {
	background-color: black;
	border-right: 1px solid grey;
	border-left: 1px solid grey;
}

.main-logo {
	border-width: 1px;
	border-color: #35444f;
	border-style: solid;
	background-color: #ffffff;
	padding: 73px;
	text-align: center;

	
}

.main-image {
	max-width: 100%;
}

.midle-window {
	width: 1280px;
	margin: 0 auto;
display: flex;

}

.text {
	font-family: Myriad Pro;
	color: #2c2b2b;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;

}

.sidebar {

	background-color: #ffffff;
	width: 344px;
	margin-right: 53px;
	
}

.sidebar-menu {
border-width: 1px;
	border-color: #35444f;
	border-style: solid;
	font-family: 'Myriad Pro';
	color: #0c1927;
	font-size: 20px;
	font-weight: 400;
	line-height: 60px;
	text-align: left;
	margin: 0;
	padding: 0;
}

.sidebar-menu li {
	list-style: none;
	padding-left: 20px;

}

.sidebar-menu li:hover {
	background-color: black;
	
}

.sidebar-menu {

}

.sidebar-menu li:hover a {
	color: white;
	padding-left: 40px;
}

.sidebar-menu li a {
	color: black;
}

.logotext {
	width: 844px;
}



.footer {
	 width: 1280px;
	font-family:Myriad Pro;
	margin-left: auto;
	margin-right: auto;
	background-color: #b5b8bb; 
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px; 

}
.footer-menu {
	margin: 0; 
}

.footer-menu li {
	list-style: none;
	display: inline-block;
	padding: 15px 20px;
}	

.footer-menu a:hover {
	color: #488dab;
	padding-bottom: 3px;
	border-bottom: 1px solid #488dab; 
}





.copyright {
	font-family: 'Myriad Pro';
	color: #010000;
	font-size: 24px;
	font-weight: 400;
	line-height: 40px;
	margin-right: 20px;  

}